<%= form_for(@pages_group) do |f| %>
  <% if @pages_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pages_group.errors.count, "error") %> prohibited this pages_group from being saved:</h2>

      <ul>
      <% @pages_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
