<%= form_for(@pages_group) do |f| %>
  <% if @pages_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.messages.not_saved', count: @pages_group.errors.count, resource: t(:pages_group)) %></h2>

      <ul>
      <% @pages_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
