<div class="row">
   <div class="col-sm-12">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title ">Create New Client
                <span class="pull-right"> 
                  <%= link_to t(:Back), "/admin/clients" %>
                </span>
            </h3>    
         </div>
         <%= render 'admin/clients/form' %>
      </div>
      <!-- panel -->
   </div>
   <!-- col -->
</div>
<!-- End row -->
 