<!-- essay long answer  -->

<div class="f6-block fields-option" >
 
	<div class="col-md-4 hidden-xs advisor-column">	
		<div class="alert alert-info advisor">
			<div class="advisor-header">
				<a data-alertid="question-RADIO-radio" class="js-close-advice pull-right" type="button"><i class="icon-remove"></i></a>
				<i class="icon-info-sign"></i> 
				<strong>Getting Started Guide</strong> 
			</div>
			<div class="advisor-text">
				<p>Essay questions allow multiple-line text answers and are great for additional feedback after your quantitative questions. The larger text field invites respondents to give you more information than a textbox. For single word and short sentence answers, use the Textbox.<br><br>minimum or maximum word or character count is easy to add.</p>
				</div>
			</div>
  </div>
		<div class="clearfix"></div>

</div>
 
 