<!-- email  -->

<div class="f7-block fields-option" >
 
	<div class="col-md-4 hidden-xs advisor-column">	
		<div class="alert alert-info advisor">
			<div class="advisor-header">
				<a data-alertid="question-RADIO-radio" class="js-close-advice pull-right" type="button"><i class="icon-remove"></i></a>
				<i class="icon-info-sign"></i> 
				<strong>Getting Started Guide</strong> 
			</div>
			<div class="advisor-text">
				<p><p>An Email question will validate that the entry is a real email.<br><br>To help save your respondents time, contact info can be pre-populated from your contacts.</p></p>
				</div>
			</div>
  </div>
		<div class="clearfix"></div>

</div>
 
 