    <div class="row">
                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">Editing Folder</h3></div>

<%= render 'form' %>       </div> <!-- panel -->
                            </div> <!-- col -->
                        </div> <!-- End row -->


<%= link_to 'Show', @folder %> |
<%= link_to 'Back', folders_path %>
