<div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                	<h3 class="panel-title">Edit Microsite
                    	<span class="pull-right"><%= link_to 'Back', microsites_url %></span>
                    	<span class="pull-right"><%= link_to 'Show', "/microsites/#{@microsite.id}" %></span>
                	</h3>
                </div>
					<%= render 'form' %>
			</div> <!-- panel -->
        </div> <!-- col -->
</div> <!-- End row -->

 




