<% content_for :title, t(:CREATE_NEW_MICROSITE) %>

<div class="row">
   <div class="col-sm-12">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title"><%= t(:CREATE_NEW_MICROSITE) %>
               <span class="pull-right"> 
               <%= link_to t(:Back), :back %>
              </span>
            </h3>
         </div>
         <%= render 'form' %>
      </div>
      <!-- panel -->
   </div>
   <!-- col -->
</div>
<!-- End row -->
 

