  <ul class="">
    <% pages.each do |p| %>
    <li class="<%= cmspage.id == p.id ? 'active' : 'inactive'  %>">
      <a href='<%= "/#{client.slug}/#{microsite.slug}/#{p.slug}" %>'>
      <%= p.title %>
      </a>
      <% children = nest_pages(microsite, p.id) %>
      <% if children.present? %>
        <span class="pull-right has-sub open">
          <i class="icon-open md md-remove"></i>
          <i class="icon-close md md-add"></i>
        </span>
        <%= render 'common/front/leftsidemenu', client: client, microsite: microsite, pages: children, cmspage: cmspage %>
      <% end %>
    </li>
    <% end %>
  </ul>