<div class="left side-menu cumo-cms-pages">
                <div class="sidebar-inner slimscrollleft">
                    <div class="user-details">
                        <div class="user-info">
                            <div class="dropdown dropdown__1">
                                <!-- <a href="#" class="dropdown-toggle" 
                                    data-toggle="dropdown" data-class="dropdown__1" aria-expanded="false"><%#= @client.name.to_s  %> 
                                    <span class="caret"></span>
                                </a> -->
                                <!-- <ul class="dropdown-menu">
                                    <li>
                                    <a href='<%#= "/#{@client.slug}/#{@microsite.slug}/profile" %>' >
                                    <i class="md md-face-unlock"></i> Profile<div class="ripple-wrapper"></div></a></li>
                                    <li><a href="javascript:void(0)"><i class="md md-settings"></i> Settings</a></li>
                                    <li><a href="javascript:void(0)"><i class="md md-lock"></i> Lock screen</a></li>
                                    <li> 
                                    <%#= link_to raw("<i class='md md-settings-power'>
                                        </i>#{t(:logout)}"), 
                                         destroy_user_session_path, 
                                         method: :delete, 
                                         :class => 'navbar-link'  %>
                                    </li>
                                </ul> -->
                            </div>
                         </div>
                        </div>
                    <!--- Divider -->
                    <div id="sidebar-menu">
                        <ul class="">
                            <!-- <li>
                                <a href="" class="waves-effect active">
                                    <i class="md md-home"></i>
                                    <span>Dashboard</span>
                                </a>
                            </li> -->
                           <!--  <li class="has_sub">
                                <a href="javascript:void(0)" class="waves-effect"><i class="md md-palette"></i> <span> <%#= t(:CMSPAGES) %> </span> <span class="pull-right"><i class="md md-add"></i></span></a>
                                <ul class="list-unstyled">
                                   
                                </ul>
                            </li> -->

    <% if(@microsite.cms_pages != nil ) %>
        <% @microsite.cms_pages.each do |p| %>
        <li>
            <a href='<%= "/#{@client.slug}/#{@microsite.slug}/#{p.slug}" %>'
               class="<%= @cmspage.id == p.id ? 'active' : 'inactive'  %>">
            <%= p.title %>
            </a>
        </li>
        <% end %>
    <% end %>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>