    <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">
                                        	List Roles
                                    </h3>
                                    </div>
                                    <div class="panel-body">

                                    	<div class="listroles">
	<table width="100%" class="table">
		<tr>
			<th>S.No.</th>
			<th>Name</th>
			<th>Action<th>
		</tr>
		<% @roles.each_with_index do |role,i| i = i+1 %>
		<tr>
			<td align="center"><%= i %></td>
			<td align="center">
				<%= link_to t(role.name.downcase), '/admin/listRoleCapability/'+current_user.id.to_s+'/'+role.id.to_s %>
			</td>
			<td><%= link_to('Edit','/admin/editrole/'+current_user.id.to_s+'/'+role.id.to_s, :rel => 'modal:open')  %></td>
		</tr>
		<% end %>
	</table>
</div>	

 </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            </div> <!-- col -->
                        </div> <!-- End row -->
