
<h1>Editing File Manger</h1>

<%= render 'form' %>

<!-- /posts/:post_id/comments/:id -->
<%= link_to t(:show), [@file_manger.folder, @file_manger] %> |
<!-- /posts/:post_id/comments/ -->
<%#= link_to t(:Back), file_mangers_path(@file_manger.post) %>