@charset "utf-8";



/* CSS Document */









/*

.wrapper{ display: block; width: 1000px; margin: 0 auto; }



.login-section{ display: block; width: 100%;}



.clear{ clear: both; margin: 0; padding: 0; }



.login-form{ width: 500px; margin: 0 auto; }



.login-section .col-9{ display: block; width: 700px; } 

.login-section .col-3{ display: block; width: 250px; } 

.login-section .col-3, .login-section .col-9{ float: left;}



.login-section .col-3 a, .login-section .col-9 a{ text-decoration: none;}

.login-section .col-3 li, .login-section .col-9 li{ list-style: none;}





.copy-right{display:block; clear:both; text-align:center;  }



.clr{display:block; clear:both; width:100%; }

*/

