<% content_for :title, t(:EDIT_GROUP) %>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><%= t(:EDIT_GROUP) %></h3></div>

                <%= render 'form' %>
            </div> <!-- panel -->
        </div> <!-- col -->
    </div> <!-- End row -->


<%= link_to t(:show), @group %> |
<%= link_to t(:BACK_TO_GROUPS), groups_path %>
