<div class="row">
<div class="col-sm-12">
<div class="panel panel-default">
<div class="panel-body">

<%
#post_data = post_data = {
#	      "username" => "phil@mosaicsustainability.com",
#	      "client_ip" => "52.27.151.238"
#	    }
#server = "https://mosaic-tableau.com"
# resp = Net::HTTP.post_form(URI.parse("#{server}/trusted"), post_data)
@client = Tableau::Client.new
%>

<%#= @client.inspect %>

<%#= resp.inspect %>

<%#= resp.body.inspect %>
</div>
</div>
</div>
</div>

