<h1>Editing Tableau User</h1>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title trans-none"><%= t(:EDIT_TABLEAU_USERNAME) %>
        </h3>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</div>
<!-- End row -->
<%= link_to 'Back', tableau_users_path %>
