<div class="pull-right">
  <% if params[:orderby] == field %>
    <% if params[:direction] == 'desc' %>
      <%= link_to(admin_listcmspages_path(orderby: field, direction: 'asc', microsite_id: params[:microsite_id])) do %>
        <i class="fa fa-sort-alpha-desc"></i>
      <% end %>
    <% else %>
      <%= link_to(admin_listcmspages_path(orderby: field, direction: 'desc', microsite_id: params[:microsite_id])) do %>
        <i class="fa fa-sort-alpha-asc"></i>
      <% end %>
    <% end %>
  <% else %>
    <%= link_to(admin_listcmspages_path(orderby: field, direction: 'asc', microsite_id: params[:microsite_id])) do %>
      <i class="fa fa-sort"></i>
    <% end %>
  <% end %>
</div>