<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title trans-none"><%= t(:EDIT_GROUP_VARIABLE) %>
        </h3>
      </div>
      <%= render 'form', url: group_variable_path(@group_variable.group, @group_variable), variable: @group_variable.variable %>
    </div>
  </div>
</div>
<!-- End row -->
<%= link_to 'Back', @group_variable.group %>
