<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><%= t(:NEW_SURVEY) %></h3>
            </div>
			<%= render 'form' %>
        </div> <!-- panel -->
    </div> <!-- col -->
</div> <!-- End row -->
<%= link_to t(:Back), surveys_path %>
