// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.group-add-user-form {
	margin-top: 15px;
	margin-bottom: 15px;
}
.group-add-user-input {
	border: 1px solid #969696;
	box-shadow: 0 0 1px #969696 inset;
	padding: 10px;
	color: #666;
}
.group-black-button {
	background-color: #121212;
	padding: 10px 15px;
	color: white;
	border: 1px solid transparent;
	text-transform: uppercase;
	&:hover, &:focus {
		background-color: #d89800;
	}
}
.group-grey-button {
	background-color: #969696;
	padding: 10px 15px;
	color: white;
	display: inline-block;
	&:hover, &:focus {
		background-color: #d89800;
		color: white;
	}
}