// Place all the styles related to the Microsites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.microsite-client-view{
	.logo{
		img{
		 	width:100%; padding:5px;  
		 }

		 max-width: 150px;
	     overflow: hidden;
	     padding: 5px;
	}
}





