<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title trans-none"><%= t(:NEW_VARIABLE) %>
        </h3>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</div>
<!-- End row -->
<%= link_to t(:Back), variables_path %>
