<%= form_for(@microsites_group) do |f| %>
  <% if @microsites_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.messages.not_saved', count: @microsites_group.errors.count, resource: t(:microsites_group)) %></h2>

      <ul>
      <% @microsites_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
