<% content_for :title, t(:EDIT_MICROSITES_GROUP) %>

<h1><%= t(:EDIT_MICROSITES_GROUP) %></h1>

<%= render 'form' %>

<%= link_to t(:show), @microsites_group %> |
<%= link_to t(:Back), microsites_groups_path %>
